                /*Портфоліо*/

.filters{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters-menu{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.filters-menu .item+.item{
    margin-left: 8px;
}
.filters .btn{
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 73px;
    border-color: transparent;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters .btn:hover,
.filters .btn:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio .link{
    display: block;
    background-color: var(--white-color);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .link:hover,
.portfolio .link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-portfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.variety-portfolio{
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
}
.container2{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    height: 404px;
    background: var(--white-color);
    border: 1px solid #EEEEEE;
}
.container2:nth-child(3n) {
    margin-right: 0;
}
.container2:nth-last-child(-n+3){
    margin-bottom: 0;
}
.menu{
    /*background-color: var(--white-color);*/
    padding: 20px 24px;
}
.thumb{
    position: relative;
    overflow: hidden;
}
.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay .text{
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.container2:focus .portfolio-overlay,
.container2:hover .portfolio-overlay {
    transform: translateY(0);
}

